/*    --------------------------------------------------
	:: General
	-------------------------------------------------- */
body {
	font-family: 'Open Sans', sans-serif;
	color: #353535;
}

/*	--------------------------------------------------
	:: Table Filter
	-------------------------------------------------- */
	
h4.title, p.summary {
	max-width: 750px;
}

h4.title2{
	max-width: 750px;
}
.panel {
	border: 1px solid #ddd;
	background-color: #fcfcfc;
}
.panel .btn-group {
	margin: 15px 0 30px;
}

.panel .btn-group .btn {
	transition: background-color .3s ease;
}
.table-filter {
	background-color: #fff;
	border-bottom: 1px solid #eee;
}
.table-filter tbody tr:hover {
	cursor: pointer;
	background-color: #eee;
}
.table-filter tbody tr td {
	padding: 10px;
	vertical-align: middle;
	border-top-color: #eee;
}
.table-filter tbody tr.selected td {
	background-color: #eee;
}
.table.table-filter tr td {
	margin: 20px;
	max-width: 38px;
}

.table-filter .media-photo {
	width: 35px;
}

.table-filter .media-body {
    display: block;
    /* Had to use this style to force the div to expand (wasn't necessary with my bootstrap version 3.3.6) */
}
.table-filter .media-meta {
	font-size: 11px;
	color: #999;
}
.table-filter .media .title, .table-filter .media .title2  {
	color: #2BBCDE;
	font-size: 14px;
	font-weight: bold;
	line-height: normal;
	margin: 0;
}
.table-filter .media .title span, .table-filter .media .title2 span  {
	font-size: .8em;
	margin-right: 20px;
}
.table.table-filter .media .title span.accepted {
	color: #5cb85c;
}

.table.table-filter .media .title2 span.active {
	color: #5cb85c;
}

.table-filter .media .title span.reported, .table-filter .media .title2 span.reported{
	color: #d9534f;
}

.table-filter .media .summary {
	font-size: 14px;
}