body, html{
   height: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(158, 158, 158), rgb(255, 255, 255));
}

.forum.table > tbody > tr > td {
    vertical-align: middle;
    background-color: white;
}

.forum .fa {
    width: 1em;
    text-align: center;

}

.forum.table th.cell-stat {
    width: 6em;
    padding: 2em;

}

.forum.table th.cell-stat-2x {
    width: 14em;
    padding: 2em;
}

.forum.table.forum.table-striped{
    background-color: #FF8C00;
    color: #e1f6f0;
}

.posted.by{
    color: #666666;
}

.center{
    color: #666666;
}

h4 small{
    color: #666666;
}

.table.forum.table-striped h3{
    margin-bottom: 1em;
}

.addCategory{
	border: 3px;
    display: table;
    margin: 0 auto;
	max-width: 200px;
	max-height: 40px;
	font-size: 24px;
    color: #666666;
}
