.table > tbody > tr > td {
    vertical-align: middle;
    background-color: white;
}

.task.table{
    background-color: #007852; /*dark green*/
    color: #e1f6f0; /*light green*/

    border-top: 200px;
}

.task.table h3{
    margin-bottom: 1em;
}

.task-info {
    text-align: center;
    color: #666666;
    background-color: white;
}

.project-info-box .task thead tr th.column{
    text-align: center;
    padding: 2em;
}

.join.button{
	border: 3px;
    display: table;
    margin: 0 auto;
	max-width: 200px;
	max-height: 40px;
	font-size: 16px;
    color: #666666;
}

.addTask{
	border: 3px;
    display: table;
    margin: 0 auto;
	max-width: 200px;
	max-height: 40px;
	font-size: 24px;
    color: #666666;
}

