.thread-title{
    font-size: 20px;
    padding-bottom: .5em;
    border-bottom: 3px solid #f0f4f7;
    margin-bottom: .25em;
}

.thread-comment {
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  padding: 20px;
  background: #fff;
}

/* para criar margem depois do comment*/
.thread-comment + .thread-comment{
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  padding: 20px;
  background: #fff;
  margin-top: 3em;
  /*min-height: 460px;*/
}

.table-filter tbody tr td {
    padding: 10px;
	vertical-align: middle;
	border-top-color: transparent;
}

.comment {
	font-size: 16px;
}
