.card-container.card {
    max-width: 1500px;
    padding: 40px 40px;
	margin-bottom: 100px;
}

.card {
    background-color: #fff;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 20px;
    /* shadows and rounded borders */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.table > tbody > tr > td {
    vertical-align: middle;
    background-color: white;
	min-width: 100 px;
}

.task.table{
    background-color:#f0ca3f ;
    color: #e1f6f0; /*light green*/

    border-top: 200px;
}

.task.table h3 .main_column{
    margin-bottom: 1em;
    color:white;
    vertical-align: middle;
}

.task-info {
    text-align: center;
    color: #666666;
    background-color: white;
}

.project-info-box .task thead tr th.column{
    text-align: center;
    padding: 2em;
}

.project-info-box .task thead tr th.column{
    text-align: center;
    padding: 2em;
}

.info-box .task thead tr th.column{
    text-align: center;
}

.join.button{
	border: 3px;
    display: table;
    margin: 0 auto;
	max-height: 200px;
	font-size: 16px;
    color: #666666;
}

.addTask {
	border: 3px;
    display: table;
    margin: 0 auto;
	max-width: 200px;
	max-height: 40px;
	font-size: 24px;
    color: #666666;
}

.iteration.table > tbody > tr > td {
    vertical-align: middle;

}

.iteration .fa {
    width: 1em;
    text-align: center;

}

.iteration.table th.cell-stat {
    padding: 2em;

}

.iteration.table th.cell-stat-2x {
    width: 14em;
    padding: 2em;
}

.iteration.table.iteration.table-striped{
    background-color: #f0ca3f;
    color: #e1f6f0;
}

.iteration.table.iteration.table-striped h3{
    vertical-align: middle;
}


.addIteration{
	border: 3px;
    display: table;
    margin: 0 auto;
	max-width: 200px;
	max-height: 40px;
	font-size: 24px;
    color: #666666;
}


.task-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.task-userbuttons .btn {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.task-userbuttons .btn:last-child {
  margin-right: 0px;
}

#addIteration{
	border: 3px;
    display: table;
    margin: 0 auto;
	max-width: 200px;
	max-height: 40px;
	font-size: 16px;
    color: white;
}

#editIteration{
    display: table;
    margin: 0 auto;
}

h2{
	font-size: 25px;
	color: orange;
  font-weight: 600;
  margin-bottom: 7px;
}

#addTaskIteration{
	display: table;
    margin: 10px auto;
}

#completed{
	font-weight: bold;
	color: #fed136;
}

#label_tasks_header{
    color:white; !important
}
